@import url(https://db.onlinewebfonts.com/c/b596fe7f763c7633f489a1acdbb13c70?family=Maison+Neue+Demi);
body {
  font-family: "Maison Neue", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Maison Neue", sans-serif;
}

section {
  min-height: 100vh;

  align-content: center;
}
.container {
  max-width: 1440px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  flex-direction: row;
}
.col-4 {
  width: 33.3333%;
  padding-left: 12px;
  padding-right: 12px;
}

/* card_1 */
.Img-box-one {
  background-image: url(/assets/images/png/super-market.png);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 440px;
  height: 551px;
  display: flex;
  align-items: last baseline;
  padding: 0 29px 29px;
}
.card-1-whiteBox {
  background: white;
  text-align: start;
  padding: 37px 29px 32px 28px;
  border-radius: 25px;
}
.read_more {
  border: 0;
  background: none;
  cursor: pointer;
  padding-top: 66px;
}
.pt_15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.max_w_315 {
  max-width: 315px;
  text-align: start;
}

/* card_2 */
.Img-box-two {
  background-image: url(/assets/images/png/working-people.png);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 440px;
  height: 551px;
  display: flex;
  align-items: last baseline;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 29px;
}
.card-2-whiteBox {
  background: white;
  text-align: start;
  padding: 37px 29px 29px 28px;
  border-radius: 25px;
}
/* card_3 */
.Img-box-three{
  background-image: url(/assets/images/png/ecomerse.png);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 440px;
  height: 551px;
  display: flex;
  align-items: last baseline;

  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 29px;
}
.card-3-whiteBox {
  background: white;
  text-align: start;
  padding: 37px 29px 29px 28px;
  border-radius: 25px;
}
@media (max-width: 992px) {
  .row {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Img-box-one,
  .Img-box-two,
  .Img-box-three {
    max-width: none;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .col-lg-6 {
    width: 50%;
    padding-top: 10px;
  }
}
@media (max-width: 576px) {
  .col-sm-12 {
    width: 100%;
  }
}
